*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 auto;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
header{
    padding: 20px;
    display: flex;
}
header ul li{
    display: inline-block;
}